{% load static %}
<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
    <title>To do List - 
      {% block title %}할일 정보{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'bulma/css/style.css' %}"> 



{% block content %}

</head>
<body>

  <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="{% url 'todo:todolist' %}">
        <img src="{% static 'images/todo_list.jpg' %}" width="112" height="28">
      </a>
  
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-end">
        
  
      <div class="navbar-end">
        <a class="navbar-item">
          Home
        </a>
  
        <a class="navbar-item" href="{% url 'todo:todolist' %}">
          My ToDo
        </a>
  
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            More
          </a>
  
          <div class="navbar-dropdown">
            <a class="navbar-item">
              About
            </a>
            <a class="navbar-item">
              Jobs
            </a>
            <a class="navbar-item">
              Contact
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item">
              Report an issue
            </a>
          </div>
        </div>
      </div>
        <div class="navbar-item">
          <div class="buttons">
            {% if user.is_authenticated %}
            <a class="button is-primary" href="{% url 'account_logout' %}">
              Log Out
            </a>
            {% else %}
            <a class="button is-primary" href="{% url 'account_signup' %}">
              <strong>Sign up</strong>
            </a>
            <a class="button is-light" href="{% url 'account_login' %}">
              Log in
            </a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </nav>


<div class="columns">

    
    <div class="card column">
        <header class="card-header">
          <p class="card-header-title">
            할일 : {{ todolist.name }} {{ id_list }}
          </p>
          <a href="#" class="card-header-icon" aria-label="more options">
            <span class="icon">
              <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
          </a>
        </header>
        <div class="card-content">
          <div class="content">
            해야 할일 : {{ todolist.description }}
            <br>
            <hr>
            생성 날짜 : {{ todolist.date_created }}
            <br>
            데드 라인 : {{ todolist.date_deadline }}
            <hr>
            남은 일수 : {{ todolist.remaining_days }}
            <hr>
            관련 이미지 : 
            {% for image in todolist.todolist_images_set.all %}
            <img src="{{ image.image.url }}" width="300px" height="350px" alt="reference_image">
            {% endfor %}
            <hr>
            관련 파일 : <br><br>
            {% for file in todolist.todolist_files_set.all %}
            {{ file.files.url }}
            <a href="{{ file.files.url }}">(파일보기)</a><br>

            {% endfor %}
          </div>
        </div>
        <footer class="card-footer">
          <a href="{% url 'todo:todolist' %}" class="card-footer-item"><button class="button is-link is-fullwidth">뒤로가기</button></a>
          <a href="/update/{{ todolist.pk }}" class="card-footer-item"><button class="button is-warning is-fullwidth">수정하기</button></a>
          <a href="/delete_todo/{{ todolist.pk }}" class="card-footer-item">
          <button class="button is-danger is-fullwidth">삭제하기</button>
          </a>
        </footer>
      </div>
      

{% endblock content %}